*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Verdana;
}

body{
  background-color:#896C6C;
}

#title,#description{
  margin:20px;
  text-align:center;
  color:rgb(252, 244, 244);
}

#survey-form{
  margin:20px auto;
  min-width:200px;
  max-width:500px;
  border:4px solid #EEE6CA;
  border-radius:40px;
  padding:50px;
  background-color:#E5BEB5;
}

label,input,select,textarea{
  display:block;
  margin:0 0 20px 0;
  width:100%;
  color:#500404;
}

input[type="radio"],input[type="checkbox"]{
  display:inline;
  margin:0 0 10px 0;
  width:5%;
}

input,select,textarea{
  padding:10px 0 10px 10px;
  background-color:#EEE6CA;
  border:1px solid #F5FAE1;
  border-radius:10px;
}

#submit{
  margin:10px 100px;
  width:50%;
  padding:10px;
  background-color:#896C6C;
  color:#F5FAE1;
  border:1px solid #EEE6CA;
  border-radius:30px;
  font-size:20px;
}